   <div class="card">
        <a href="/post/{{id}}">
        <h3 class="card-title">
            {{title}}
             </h3>
             </a>
        <div class="card-body">
            <p class="card-text">
            {{body}}
            </p>
        </div>
       
    </div>